In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('new_file.xlsx')
df

,Order ID,Product,Quantity,Price,Order Date,Purchase Address,Total
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",600.00
2,295667,USB-C Charging Cable,1,35004.00,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",35004.00
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",149.99
4,295669,USB-C Charging Cable,1,35004.00,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",35004.00
...,...,...,...,...,...,...,...
24984,319666,Lightning Charging Cable,1,14.95,2019-11-12 20:58:00,"14 Madison St, San Francisco, CA 94016",14.95
24985,319667,AA Batteries (4-pack),2,30742.00,2019-01-12 12:01:00,"549 Willow St, Los Angeles, CA 90001",61484.00
24986,319668,Vareebadd Phone,1,400.00,2019-09-12 06:43:00,"273 Wilson St, Seattle, WA 98101",400.00
24987,319669,Wired Headphones,1,36465.00,2019-03-12 10:39:00,"778 River St, Dallas, TX 75001",36465.00
24988,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",99.99

In [3]:
df.shape

(24989, 7)

In [13]:
num = 1
for i in range(0, df.shape[0], 5000):
    tmp = df.iloc[i: i+5000-1]
    tmp.to_excel(f'new_data/part_{num}.xlsx', index=False)
    num += 1

In [10]:
df.iloc[0]

Order ID                                            295665
Product                                 Macbook Pro Laptop
Quantity                                                 1
Price                                               1700.0
Order Date                                  12/30/19 00:01
Purchase Address    136 Church St, New York City, NY 10001
Total                                               1700.0
Name: 0, dtype: object

In [14]:
import os

In [30]:
df_all = pd.DataFrame()
for f in reversed(os.listdir('new_data/')):
    tmp = pd.read_excel('new_data/' + f)
    df_all = pd.concat([df_all, tmp])

df_all

,Order ID,Product,Quantity,Price,Order Date,Purchase Address,Total
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",600.00
2,295667,USB-C Charging Cable,1,35004.00,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",35004.00
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",149.99
4,295669,USB-C Charging Cable,1,35004.00,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",35004.00
...,...,...,...,...,...,...,...
4984,319666,Lightning Charging Cable,1,14.95,2019-11-12 20:58:00,"14 Madison St, San Francisco, CA 94016",14.95
4985,319667,AA Batteries (4-pack),2,30742.00,2019-01-12 12:01:00,"549 Willow St, Los Angeles, CA 90001",61484.00
4986,319668,Vareebadd Phone,1,400.00,2019-09-12 06:43:00,"273 Wilson St, Seattle, WA 98101",400.00
4987,319669,Wired Headphones,1,36465.00,2019-03-12 10:39:00,"778 River St, Dallas, TX 75001",36465.00
4988,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",99.99